* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
  
html::-webkit-scrollbar {
    display: none;
}

body {
    background: linear-gradient(90deg, #0d0b1e, #0f0b1a, #1e0f2b);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: flex-start;
}

.container {
    zoom: 0.9;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.estante {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 800px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#estante1{
    padding: 30px;
    height: 409px;
    background-image: url('../img/estante1.png');
}

#estante2{
    padding: 30px;
    height: 319px;
    background-image: url('../img/estante2.png');
}

#estante3{
    padding: 30px;
    height: 480px;
    background-image: url('../img/estante3.png');
}

.livro {
    width: 30px;
    height: 125px;
    background-color: rgba(0, 0, 0, 0);
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    cursor: pointer;
}

.livro[data-id="1"] { margin: 51px 82px; width: 87px; height: 119px; }
.livro[data-id="2"] { margin: 243px -4px; width: 28px; height: 131px; }
.livro[data-id="3"] { margin: 44px 212px; width: 29px; height: 125px; }
.livro[data-id="4"] { margin: 235px -182px; width: 38px; height: 139px; }
.livro[data-id="5"] { margin: 50px -88px; width: 36px; height: 120px; }
.livro[data-id="6"] { margin: 12px 132px; width: 34px; height: 124px; }
.livro[data-id="7"] { margin: 167px -28px; width: 34px;height: 116px; }
.livro[data-id="8"] { margin: 21px -122px; width: 87px;height: 115px; }
.livro[data-id="9"] { margin: 9px -93px; width: 34px; height: 126px; }
.livro[data-id="10"] { margin: 162px -141px; width: 36px;height: 122px; }
.livro[data-id="11"] { margin: 2px 38px; width: 38px; height: 111px; }
.livro[data-id="12"] { margin: 2px -43px; width: 37px; height: 111px; }
.livro[data-id="13"] { margin: 2px 22px; width: 38px; height: 111px; }
.livro[data-id="14"] { margin: 2px 286px; width: 33px; height: 110px; }
.livro[data-id="15"] { margin: 2px -146px; width: 40px;height: 110px; }

.livro:hover {
    transform: scale(1.05);
    border: 2px solid rgba(50, 255, 255, 0.6);
    box-shadow: 
      0 0 5px rgba(50, 255, 255, 0.5),
      0 0 10px rgba(50, 255, 255, 0.4),
      0 0 20px rgba(50, 255, 255, 0.3),
      0 0 40px rgba(50, 255, 255, 0.2),
      0 0 80px rgba(50, 255, 255, 0.1);
    animation: neon-glow 1.5s infinite alternate;
    border-radius: 5px;
    transition: transform 0.5s;
    will-change: transform, box-shadow;
}

#porta {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 300px;
    background-color: #654321;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    overflow: hidden;
    transition: width 0.5s ease;
}

#porta img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#porta.aberta {
    width: 210px;
    height: 250px;
    border: 2px solid black;
}

#gas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 300px;
    background-color: rgba(255, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: width 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
}

#gas img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

#gas.libera {
    width: 300px;
    visibility: visible;
    opacity: 1;
}